@import "./base.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: vollkorn;
  src: url(../assets/fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf)
    format("truetype");
}

@font-face {
  font-family: GT-Walsheim;
  src: url(../assets/fonts/GT-walsheim/GT-Walsheim-Regular.otf) format(".otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url(../assets/fonts/GT-Walsheim/GT-Walsheim-Medium.otf) format(".otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GT-Walsheim;
  src: url(../assets/fonts/GT-walsheim/GT-Walsheim-Bold.otf) format(".otf");
  font-weight: 700;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-size: 51px;
  font-family: vollkorn;
  font-weight: 600;
  line-height: 130%;
}
h2 {
  font-size: 46px;
}

h3 {
  font-size: 41px;
}

h4 {
  font-size: 36px;
}

.title-2xl,
.title-xl,
.title-lg,
.title-md {
  font-size: 26px;
  font-family: GT-Walsheim;
  line-height: 130%;
  font-weight: 500;
}

.title-xl {
  font-size: 23px;
}

.title-lg {
  font-size: 20px;
}
.title-md {
  font-size: 18px;
}

.body-xl,
.body-lg,
.body-md {
  font-family: GT-Walsheim;
  font-weight: 400;
  line-height: 150%;
  font-size: 23px;
}

.body-lg {
  font-size: 20px;
}

.body-md {
  font-size: 18px;
}

@media only screen and (max-width: 1023px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 41px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 32px;
  }

  .title-2xl {
    font-size: 23px;
  }

  .title-xl {
    font-size: 20px;
  }

  .title-lg {
    font-size: 18px;
  }
  .title-md {
    font-size: 16px;
  }

  .body-xl {
    font-size: 20px;
  }

  .body-lg,
  .body-md {
    font-size: 18px;
  }
}
