:root {
  --primary: #028655;
  --green100: #f4ffff;
  --green200: #e0fff9;
  --green300: #aff0e5;
  --green400: #7eeedb;
  --green500: #4ee8cc;
  --green600: #27ddbb;
  --green700: #09cca6;
  --green800: #00ad8c;
  --green900: #00866d;
  --green1000: #005646;
  --green1100: #01332a;
  --green1200: #00211b;
  --secondary: #b4e0d1;
  --gray: #f0f4f3;
  --gray200: #f5f5f5;
  --gray300: #dadada;
  --gray600: #595959;
  --neutral100: #faf7f6;
  --neutral200: #f5e7e1;
  --neutral300: #daaa93;
  --neutral400: #b07f68;
  --neutral500: #7d594a;
  --neutral600: #593d34;
  --accent: #ffbe83;
  --purple100: #edddff;
  --purple200: #cb9cff;
  --purple300: #9242eb;
  --purple400: #500a9e;
  --orange100: #fff6eb;
  --orange200: #ffdcaf;
  --orange300: #f9a035;
  --orange400: #fe8800;
  --red: #bb1d1d;
  --red100: #ffece4;
  --red200: #ffddd4;
  --red300: #ffbaae;
  --red400: #ff6c62;
  --red500: #fc4b47;
  --red600: #a72323;
  --black: #272727;
  --white: #ffffff;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-16: 1rem;
  --spacing-18: 1.125rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-30: 1.875rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-48: 3rem;
  --spacing-52: 3.25rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-120: 7.5rem;
  --spacing-160: 10rem;
  --radius-4: 0.25rem;
  --radius-6: 0.375rem;
  --radius-8: 0.5rem;
  --radius-10: 0.625rem;
  --radius-16: 1rem;
  --radius-24: 1.5rem;
  --radius-28: 1.75rem;
}
